<!-- Header -->
<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>{{heading}}</h1>
                    <span class="subheading">{{subheading}}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container article-list">
    <div class="row">
        <div class="col-12 p-0 article-container" *ngFor="let article of articles | orderBy:'date':true" >
            <div class="image-container">
                <img src="../../../assets/img/gallery/{{article.urlImage}}" onError="this.src='../../assets/img/noimage.jpg';" >
            </div>
            <div class="article-content">
                <div>
                    <h2>{{article.heading}}</h2>
                </div>
                <div class="article-description">
                    <p>{{article.shortDescription}}</p>
                </div>
                <div>
                    <a routerLink="/articles/{{article._id}}">Читать дальше</a>
                </div>
            </div>
        </div>
    </div>
</div>