<!-- Header -->
<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>{{heading}}</h1>
                    <span class="subheading">{{subheading}}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Search Filter -->
<div class="container search">
    <div class="row">
        <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">У нас есть прям всё!</h2>
            <hr class="my-4">
            <p class="text-faded mb-4">Хотите найти определённый экспонат? Воспользуйтесь поиском</p>
            <form action="" class="input-group">
                <input #imgInput type="text" class="form-control" [(ngModel)]="imgString" name="searchImage" placeholder="Найти...">
                <span class="input-group-btn">
                    <button class="btn btn-secondary" type="button" (click)="searchImage(imgInput.value)" ><i class="fa fa-search"></i></button>
                </span>
            </form>
        </div>
    </div>
</div>

<!-- Image List -->
<div class="container-fluid image-gallery">
    <div class="img-row" >
        <!--
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 p-0 img-hover" *ngFor="let image of images" (click)="onSelect(image)" >
            <img alt="" class="img-fluid" id="{{image._id}}" src="../../assets/img/gallery/{{image.urlImage}}" onError="this.src='../../assets/img/noimage.jpg';">
            <div class="img-caption">
                <h3>{{image.heading}}</h3>
            </div>
            <a class="portfolio-box" (click)="openImage(content)"></a>

        </div>
        -->
        <div class="img-hover" *ngFor="let image of images | orderBy:'date':true | paginate: { itemsPerPage: 14, currentPage: p }" (click)="onSelect(image)" >
            <div class="img-container">
                <img alt="" class="img-fluid" id="{{image._id}}" src="../../assets/img/gallery/{{image.urlImage}}" onError="this.src='../../assets/img/noimage.jpg';">
                <div class="img-caption">
                    <h3>{{image.heading}}</h3>
                </div>
                <a class="portfolio-box" (click)="openImage(content)"></a>
            </div>
        </div>
    </div>
    <div class="row pagination">
        <div class="col-lg-12">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
</div>

<ng-template #content let-c="close" let-d="dismiss" >
    <div class="modal-header image-modal">
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">
                <i class="fa fa-times"></i>
            </span>
        </button>
    </div>
    <div class="modal-body image-modal" *ngIf="image" >
        <img class="modal-img" src="../../assets/img/gallery/{{image.urlImage}}" onError="this.src='../../assets/img/noimage.jpg';">
    </div>
    <div class="modal-footer image-modal" *ngIf="image">
        <h4 class="modal-title">{{image.heading}}</h4>
        <p class="modal-caption">{{image.description}}</p>
        <p class="modal-footnote">Опубликовано: {{image.date | date:'dd MMM, yyyy HH:mm'}}</p>
    </div>
</ng-template>
