<!-- Header -->
<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>{{heading}}</h1>
                    <span class="subheading">{{subheading}}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-8 mx-auto text-center">
            <p>
                ГИМН СШ №2
                В жизни каждого есть на этом свете
                Уголок, где всё прекрасно, даже солнце ярче светит.
                И моя судьба дарит мне награду,
                Словно лёд печальным мыслям прохладу
                Мой покой, моя семья, о тебе пою я.
                Школа моя милая, самая любимая.
                Ты со мной всегда, моя школа №2
                Школа моя милая, не средняя, а лучшая,
                Я тебя люблю, моя школа №2
                Я тобой горжусь, ты моя отрада.
                Между мной и этим миром разрушаешь все преграды.
                Школа №2, мы тебя лелеем,
                Мы тобой одной живём, мы тобою болеем.
                Болеем одною тобой.
                Школа моя милая, самая любимая.
                Ты со мной всегда, моя школа №2
                Школа моя милая, не средняя, а лучшая,
                Я тебя люблю, моя школа №2
                Здесь для нас с тобой навсегда открыта дверь.
                Не забудем никогда своих учителей.
                Школа моя милая, ты теперь моя семья.
                Невозможно описать, как люблю я тебя
                Школа моя милая, самая любимая.
                Ты со мной всегда, моя школа №2
                Школа моя милая, не средняя, а лучшая,
                Я тебя люблю, моя школа №2
            </p>
        </div>
    </div>
</div>

<select [(ngModel)]="sub_planning">
    <option *ngFor="let c of subdimension" [ngValue]="c.value">{{c.name}}</option>
</select>

