header.masthead {
  background: #868e96 url("../../assets/img/header-images.jpg") center center no-repeat scroll;
}

.container.search, .image-gallery {
  margin-bottom: 50px;
}

.modal-backdrop {
  opacity: .8!important;
}

.img-carousel {
  width: 100%;
  height: 100%;
}

.modal-header, .modal-footer {
  border: none;
}

.modal-body {
  padding: 0 1rem;
}

*:focus {
  outline: none;
}