<!-- Header -->
<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>{{heading}}</h1>
                    <span class="subheading">{{subheading}}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Search Filter -->
<div class="container search">
    <div class="row">
        <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">У нас есть прям всё!</h2>
            <hr class="my-4">
            <p class="text-faded mb-4">Хотите найти определённый экспонат? Воспользуйтесь поиском</p>
            <form action="" class="input-group">
                <input type="text" class="form-control" placeholder="Найти...">
                <span class="input-group-btn">
                    <button class="btn btn-secondary" type="button"><i class="fa fa-search"></i></button>
                </span>
            </form>
        </div>
    </div>
</div>

<!-- Image List -->
<div class="container-fluid p-0 image-gallery">
    <div class="row no-gutters popup-gallery" >
        <div class="col-lg-3 col-sm-4" *ngFor="let image of images"  (click)="onSelect(image)" >
            <a class="portfolio-box" (click)="openImage(content)">
                <img alt="" class="img-fluid" id="{{image.id}}" src="{{image.name}}">
            </a>
        </div>
    </div>
</div>

<ng-template #content let-c="close" let-d="dismiss" >
    <div class="modal-header">
        <h4 class="modal-title">Modal title</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" *ngIf="selectedImage"  >
        <img class="img-carousel" src="{{selectedImage.name}}">
    </div>
    <div class="modal-footer">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac ligula id libero posuere ullamcorper quis id lorem. Etiam non nunc nec erat accumsan fermentum id et lorem.
    </div>
</ng-template>
