@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

/* COLORS */
$basic: #243B55;
$dark: #141E30;

/* FONTS START */
$Raleway: 'Raleway';
/* Regular */
@font-face {
  font-family: $Raleway;
  font-style: normal;
  font-weight: 400;
  src: local('Raleway Regular'), local('Raleway-Regular'), url(./assets/fonts/Raleway-Regular.ttf) format('ttf');
}
/* Light */
@font-face {
  font-family: $Raleway;
  font-style: normal;
  font-weight: 300;
  src: local('Raleway Light'), local('Raleway-Light'), url(./assets/fonts/Raleway-Light.ttf) format('ttf');
}
/* Bold */
@font-face {
  font-family: $Raleway;
  font-style: normal;
  font-weight: 700;
  src: local('Raleway Bold'), local('Raleway-Bold'), url(./assets/fonts/Raleway-Bold.ttf) format('ttf');
}
/* Black */
@font-face {
  font-family: $Raleway;
  font-style: normal;
  font-weight: 900;
  src: local('Raleway Black'), local('Raleway-Black'), url(./assets/fonts/Raleway-Black.ttf) format('ttf');
}
/* FONTS END */

/* LOADER START */
#loading {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sk-cube-grid {
  width: 70px;
  height: 70px;
  margin: auto;
}
.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: $basic;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  } 35% {
      -webkit-transform: scale3D(0, 0, 1);
      transform: scale3D(0, 0, 1);
    }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  } 35% {
      -webkit-transform: scale3D(0, 0, 1);
      transform: scale3D(0, 0, 1);
    }
}
/* LOADER END */

.custom-bg {
  background: #141E30;
  background: -webkit-linear-gradient(to right, $basic, $dark);
  background: linear-gradient(to right, $basic, $dark);
}

.wrapper {
  min-height: calc(100vh - 78px - 120px);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 800;
  font-family: $Raleway,'Helvetica Neue',Helvetica,Arial,sans-serif;
}

hr {
  max-width: 50px;
  border: 2px #343a40 solid;
}
hr.light {
  border-color: #fff;
}

input:focus, button:focus {
  outline: 0!important;
  box-shadow: none!important;
}
input, button {
  border-radius: 0!important;
}

/* HEADER START */
header.masthead {
  margin-bottom: 50px;
  position: relative;
  -webkit-background-size: cover!important;
  -moz-background-size: cover!important;
  -o-background-size: cover!important;
  background-size: cover!important;
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #182848; /* #212529; */
    opacity: .6;
  }
  .page-heading, .site-heading {
    text-align: center;
  }
  .site-heading {
    padding: 200px 0;
    color: #fff;
  }
  .page-heading, .post-heading {
    padding: 100px 0;
    color: #fff;
  }
  .page-heading h1 {
    font-size: 30px;
    margin-top: 0;
  }
  .site-heading h1 {
    font-size: 50px;
    margin-top: 0;
  }
  .page-heading .subheading, .site-heading .subheading {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.1;
    display: block;
    margin: 10px 0 0;
    font-family: $Raleway,'Helvetica Neue',Helvetica,Arial,sans-serif;
  }
}
@media only screen and (min-width: 768px) {
  header.masthead .page-heading h1 {
    font-size: 50px;
  }
  header.masthead .site-heading h1 {
    font-size: 70px;
  }
}
/* HEADER END */

/* MODAL START */
.modal-backdrop {
  opacity: .8!important;
}
.modal-content {
  border-radius: 0;
  background-color: #555;
  * {
    transition: all 0.3s ease;
  }
  .modal-header, .modal-footer {
    border: none;
  }
}
@media (min-width: 1200px) {
  .modal-dialog {
    max-width: 1300px;
  }
}
/* MODAL END */