header.masthead {
  background: #868e96 url("../../../../assets/img/header-articles.jpg") center center no-repeat scroll;
}

.article-wrap {
  margin-bottom: 50px;
}
.articleheading {
  margin-bottom: 20px;
  h2 {
    margin: 0;
  }
  span {
    font-size: 0.75rem;
    color: #5e6973;
  }
}

.go-home {
  font-size: 1rem;
  cursor: pointer;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  font-weight: 600;
  padding: 10px 20px;
  color: #fff!important;
  background: #2980b9;
  i {
    margin-right: 10px;
  }
}
.go-home:hover {
   opacity: .5;
}

.sidebar{
  will-change: min-height;
}

.sidebar__inner{
  transform: translate3d(0, 0, 0);
  will-change: position, transform;
}