<!-- Header -->
<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>{{heading}}</h1>
                    <span class="subheading">{{subheading}}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container article-wrap">
    <div class="row">
        <div class="col-12" >
            <div class="articleheading">
                <h2>{{article.heading}}</h2>
                <span>Опубликовано: {{article.date | date:'dd MMM, yyyy HH:mm'}}</span>
            </div>
            <div [froalaView]="article.description"></div>
        </div>
    </div>
</div>

<div class="container article-wrap">
    <div class="row">
        <div class="col-12" >
            <a class="go-home" (click)="goBack()" ><i class="fas fa-arrow-left"></i>Вернуться</a>
        </div>
    </div>
</div>