<!-- Header -->
<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>{{heading}}</h1>
                    <span class="subheading">{{subheading}}</span>
                </div>
            </div>
        </div>
    </div>
</header>

{{lastData}}

<!--
<div class="row no-gutters popup-gallery" >
    <div class="col-lg-3 col-sm-4" *ngFor="let image of dataService">
        <a class="portfolio-box" href="{{image.lastData}}">
            <img alt="" class="img-fluid" src="{{image.lastData}}">
        </a>
    </div>
</div>

<div class="container-fluid">
    <div class="row no-gutters" >
        <div class="col-xl-3 col-lg-6 col-md-6">
            <a class="portfolio-box" href="">
                <img alt="" class="img-fluid" id="" src="">
            </a>
        </div>
    </div>
</div>
-->
