<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark custom-bg">
    <div class="container">
        <a class="navbar-brand" routerLink="/">{{title}}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >
                    <a class="nav-link" routerLink="" >{{home}}</a>
                </li>
                <li class="nav-item" *ngFor="let link of linkList" routerLinkActive="active">
                    <a class="nav-link" routerLink="{{link.link}}" >{{link.name}}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<main class="wrapper">
    <router-outlet></router-outlet>
</main>

<footer class="py-5 custom-bg">
    <div class="container">
        <p class="m-0 text-center text-white" routerLink="/login">{{copyright}}</p>
    </div>
</footer>